.po-menu-panel-logo {
  background-image: url(../assets/logo-simbolo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0.75em;
}

.po-menu-panel {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
}
